﻿@model IEnumerable<WorkingWithData1.Models.ToyPurchaseDate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cat.CatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cat.CatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfPurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ToyPurchaseDateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ToyPurchaseDateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ToyPurchaseDateID })
        </td>
    </tr>
}

</table>
